*.iml
.gradle/
/local.properties
.idea/
.DS_Store
build/
/app/release/
/captures
.externalNativeBuild
.cxx/
*.apk
*.keystore
/key_store
output-metadata.json
.kotlin/
gradle/gradle-daemon-jvm.properties
